<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/css/main.css">
<title>Insert title here</title>
<script th:inline="javascript">
	const msg = /*[[${msg}]]*/ "msg";
	console.log(msg);
	if(msg!=null)
		$("#message").css("display","block");
</script>
<script>
	$(document).ready(()=> {
		$("#change_password").on("click", ()=> {
			$.ajax({
				url: "/member/password",
				method: "patch",
				data: $("#change_password_form").serialize()
			}).done(result=> location.href = "/")
				.fail(()=> {
					Swal.fire("실패", "사용자 정보를 확인하지 못했습니다", "error");
					$("#password").val("");
					$("#new_password").val("");
					$("#new_password2").val("");
				});
		});
	});
</script>
</head>
<body>
	<div id="page">
		<nav id="nav" th:replace="~{/fragments/nav.html}"></nav>
		<div id="main">
			<aside th:replace="~{/fragments/aside.html}"></aside>
			<section id="section" style="background-color:white; display:flex; flex-direction:column; align-items:center;">
				<div id="message" class="alert alert-danger" style="display:none;">
					<strong>임시 비밀번호 로그인!</strong> 비밀번호를 변경해주세요
				</div>
				<form id="change_password_form">
					<div style="margin-top:80px; width:300px;"><h3>비밀번호 변경</h3></div>
					<br>
					<div class="mb-3">
						<label for="password">기존 비밀번호</label>
						<input type="password" id="password" name="password" class="form-control">
						<span class="helper-text" id="password_msg"></span>
					</div>
					<div class="mb-3">
						<label for="new_password">새 비밀번호</label>
						<input type="password" id="new_password" name="newPassword" class="form-control" >
						<span class="helper-text" id="new_password_msg"></span>	
					</div>
					<div class="mb-3">
						<label for="new_password2">새 비밀번호 확인</label>
						<input type="password" id="new_password2" class="form-control">
						<span class="helper-text" id="new_password2_msg"></span>	
					</div>
					<br>
					<button type="button" class="btn btn-success" id="change_password" style="float:right;">비밀번호 변경</button>
				</form>
			</section>
			<div>
			<footer id="footer" th:replace="~{/fragments/footer.html}"></footer>
			</div>
		</div>
	</div>
</body>
</html>