<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Insert title here</title>
<style>
	.ad {
		color:black;
		text-decoration: none;
	}
	.ad:hover {
		color: #18bc9c;
	}
</style>
</head>
<body>
	<div id="aside">
		<!-- <div>
			<span sec:authorize="isAuthenticated()">
				<span sec:authentication="name"></span>
			</span>
			<span sec:authorize="isAnonymous()">No Login</span>
		</div> -->
		<div><a href="#" class="ad">광고</a></div>
		<div><a href="#" class="ad">광고</a></div>
	</div>
</body>
</html>