<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<div style="display:flex; align-items:center; margin-left:20px;">
				<a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" width="100px" height="100px"></a>
				<h1 style="color:white;">자유게시판</h1>
			</div>
			<div>
				<ul class="navbar-nav me-auto" sec:authorize="isAnonymous()" id="menu_anonymous">
					<li class="nav-item"><a class="nav-link active" href="/">Home<span class="visually-hidden">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="/member/login">로그인</a></li>
					<li class="nav-item"><a class="nav-link" href="/member/join">회원가입</a></li>
					<li class="nav-item"><a class="nav-link" href="/member/find">아이디/비밀번호찾기</a></li>
				</ul>
				<ul class="navbar-nav me-auto" sec:authorize="isAuthenticated()" id="menu_authenticated">
					<li class="nav-item"><a class="nav-link" href="/board/list">Home</a></li>
					<li class="nav-item"><span style="line-height:40px; padding:8px; color:#18bc9c;" sec:authentication="name"></span></li>
					<li class="nav-item"><a class="nav-link" href="/member/read">내정보</a></li>
					<li class="nav-item"><a class="nav-link" href="#" id="logout">로그아웃</a></li>
				</ul>
			</div>
		</div>
	</nav>
<script th:inline="javascript">
	$("#menu_authenticated").on("click", "#logout", (e)=> {
		e.preventDefault();
		const choice = confirm('로그아웃 하시겠습니까?');
		if(choice==false)
			return;
		$.ajax({
			url : "http://localhost:8087/member/logout",
			method : "post",
		}).done(() => location.href='/');
	})
</script>
</body>
</html>